{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body_title %}<h1>Hello {{ controller_name }}! ✅</h1>{% endblock %}

{% block body_content %}
      <div class="row">
          <p>Your controller at <code><a href="{{ 'src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code>
          <br>Your template at <code><a href="{{ 'templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></p>
       </div>
       <div class="row">
          <img src="http://zadman.de/wp-content/uploads/2014/08/hallo-welt.jpg" class="img-fluid">
       </div>
       {% endblock %}
{% block body_right_content %}
<h1>Login</h1>
{% endblock %}
