html {
    height:100%;
    margin:0 !important;
    padding:0 !important;	
}

body {
    height:100%;
    width:100%;
    margin:0 !important;
    padding:0 !important;
}

h1 {
    color: #0B610B;
}
h2 {
    color: green;
}
h3 {
    color: #FF8000;
}