{% extends 'base.html.twig' %}

{% block title %}ARM/{{ controller_name }}!{% endblock %}

{% block nav_title %}<h1>ARM/{{ controller_name }} </h1>{% endblock %}
{% block body_title %}<h1>ARM/{{ controller_name }} </h1>{% endblock %}

{% block body_content %}

<script>
function validateForm() {
    var username = document.forms["registerForm"]["username"].value;
    var email = document.forms["registerForm"]["email"].value;
    var password = document.forms["registerForm"]["password"].value;
    var password_val = document.forms["registerForm"]["password_validation"].value;
    if (username == "") {
        alert("Username cant be empty");
        return false;
    }
    if(username.length >=20){
        alert("Username cant be longer then 20 chars");
        return false;
    }
    if (password == "" || password_val == "" || password.length <=8) {
        alert("Password must be at least 8 chars");
        return false;
    }
    if (password !== password_val) {
        alert("Password retype wrong");
        return false;
    }
    return true;
}
</script>
        <div class="row" class="spacer-small">
        </div>
       <div class="jumbotron">
            <form action="/register_submit" onsubmit="return validateForm()" methode="post"  name="registerForm">
                 <div class="form-group">
                    <label for="username">Userame:</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                     <p class="bmd-label">mindestens 8 Zeichen</p>
                </div>
                <div class="form-group">
                    <label for="password_validation">Password retype:</label>
                    <input type="password" class="form-control" name="password_validation">
                </div>
                <div class="checkbox">
                        <label><input type="checkbox" > Read</label>
                </div>
                <button type="submit" class="btn btn-default w-100">Submit</button>
            </form>

         </div>
         <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
{% endblock %}

